.viewport-large-40 .main {
    margin-top: 2%;
}

.comments-panel .panel-content {
    padding-right: 0;
}

.comments .comment-form-control .comment-form .avatar img,
.comments+.comments-header-container .comment-form-control .comment-form .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-attribute {
    background: #9B9B9B;
    border: 2px solid #9B9B9B;
    color: #FFFFFF;
    letter-spacing: -0.36px;
    display: inline-block;
    padding: .5% 2% .5% 2%;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 300;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
}

.user-tabs {
    font-weight: 500!important;
}

:focus {
    outline: none;
}

.blue-attribute {
    background-color: #326891!important;
    border: 2px solid #326891;
}

.purple-attribute {
    background-color: #5C415D!important;
    border: 2px solid #5C415D;
}

.green-attribute {
    background-color: #2D936C!important;
    border: 2px solid #2D936C;
}

.dark-blue-attribute {
    background: #2F4858!important;
    border: 2px solid #2F4858;
}

.pink-attribute {
    background-color: #CD8B76!important;
    border: 2px solid #CD8B76;
}

.yellow-attribute {
    background-color: #C5A257!important;
    border: 2px solid #C5A257;
}

.stats-header {
    font-size: .8rem;
    line-height: 1.25rem;
    font-weight: 200;
    font-style: normal;
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
    color: #333;
    /* clear: none; */
    display: flex;
    margin-left: 5px;
}

p.graph-intro {
    font-weight: 800!important;
    font-size: medium!important;
}

.big-q {
    font-size: 3rem;
    line-height: 2.25rem;
    font-weight: 500;
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
    font-style: normal;
    letter-spacing: -0.35px;
    clear: both;
    padding: 5% 0 2% 0;
    width: 15%;
    float: left;
}

.question {
    font-size: 1.25rem;
    color: #333333;
    letter-spacing: -0.11px;
    font-weight: 300;
    font-style: normal;
    font-family: "nyt-franklin", arial, helvetica, sans-serif;
    width: 85%;
    float: right;
    margin-bottom: 5%;
    margin-top: 3.5%;
}

.welcome {
    font-weight: 700;
    font-style: normal;
    font-family: "nyt-franklin", arial, helvetica, sans-serif;
    font-size: 1rem;
    color: #333333;
    letter-spacing: 0.8px;
    padding: 3% 0 3% 0;
    float: left;
    width: 50%;
}

.learn-more {
    float: right;
    width: 50%;
    line-height: 1.25rem;
    font-weight: 300;
    font-style: normal;
    font-family: "nyt-franklin", arial, helvetica, sans-serif;
    color: #333;
    height: 1;
    left: 1;
    position: relative;
    right: 30px;
    top: 15px;
}

.control header-control layout-horizontal secondary-control {
    width: 85%;
    float: right;
}

.big-a {
    padding-top: 2%;
}

.comments .comments-header-container .comments-header p,
.comments+.comments-header-container .comments-header p {
    margin: 0 0 1em 0;
}

li.user-tabs.tab.nytpicks!important {
    font-weight: 500;
}

a.canvasjs-chart-credit {
    display: none;
}

.logo {
    position: relative;
}

img.logo-image {
    position: absolute;
    top: -20px;
    height: 75px;
    right: 5px;
}

.comments-view-navigation .users {
    margin-bottom: 2%;
}

.label-container {
    margin-right: 20px;
}

.comments-view-navigation.users {
    margin-bottom: 2%;
}

li.user-tabs.tab.nytpicks.selected!important {
    color: white;
}

.comments .comment .avatar img {
    width: 45px;
    border-radius: 50%;
}

.comment-form-control.form-control.thread-form.active {
    margin-top: 0;
}

header.comments-header {
    margin-bottom: 0!important;
}

.comments .comment-form-control .comment-form .textarea-control .comment-textarea,
.comments+.comments-header-container .comment-form-control .comment-form .textarea-control .comment-textarea {
    height: 100px;
}

.popup {
    border-radius: 4px;
    right: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    position: fixed;
    top: 65px;
    width: 25%;
    background-color: #FCFA9D;
    z-index: 1000000120;
}

.popup .close {}

.popup a {
    font-weight: 700;
    color: #326891;
}

.welcome-extra {
    width: 100%;
}

.welcome-sub {
    /* A new discussion fea: */
    font-family: NYTFranklin-Medium;
    font-size: 15px;
    color: #000000;
    letter-spacing: -0.23px;
    clear: both;
    width: 75%;
}

.welcome-logo img {
    position: absolute;
    top: -75px;
    right: 10px;
    height: 75px;
}

.welcome-logo {
    position: relative;
}

.popup .close-welcome {
    position: fixed;
    top: 70px;
    font-weight: 700;
    /* border: 1px solid black; */
    /* border-radius: 100px; */
    padding: 2px;
    right: 30px;
    color: #333;
    font-size: smaller;
}

.close-welcome a {
    color: black;
    text-decoration: none;
}

.close-welcome a:hover {
    color: grey;
}

.user-tabs li.selected {
    color: white!important;
}

li#first-attrib.user-tabs.tab.nytpicks.selected,
li#second-attrib.user-tabs.tab.nytpicks.selected,
li#third-attrib.user-tabs.tab.nytpicks.selected,
li#fourth-attrib.user-tabs.tab.nytpicks.selected,
li#fifth-attrib.user-tabs.tab.nytpicks.selected,
li#sxith-attrib.user-tabs.tab.nytpicks.selected,
li#seventh-attrib.user-tabs.tab.nytpicks.selected {
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    z-index: 1;
    top: -20px;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.user-attribute-welcome {
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.this-one {
    display:  none;
}